<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <h1>Available Services</h1>
    </header>

    <main>
      <ul>
        {% for service in services %}
        <li>{{ service.name }} - {{ service.description }}</li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
