<!-- edit_profile.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <h1>Edit Profile</h1>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'users:logout' %}">Logout</a></li>
          <li>
            <a href="{% url 'services:submit_request' %}">Submit Request</a>
          </li>
          <li>
            <a href="{% url 'services:track_request' %}">Track Request</a>
          </li>
        </ul>
      </nav>
    </header>
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Save</button>
    </form>
    <a href="{% url 'users:profile' %}">Back to Profile</a>
  </body>
</html>
